<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SuccessfulLog" value="successfully completed." />
    <add key="StoredProceduresBlockList" value="ud_prc_getSystemJob" />
    <add key="GeneralMessageFailure" value="more information is not available" />
    <add key="MonitoringMode" value="False" />
    <add key="MonitoringMaxSize" value="0" />
    <add key="MonitoringSafeClientsList" value="" />
    <add key="MonitoringList" value="" />

    <add key="TaminIpPool" value="130.185.74.2" />
    <add key="JusticeIpPool" value="130.185.74.2" />
    <add key="SymfaIpPool" value="130.185.74.2" />
    <add key="EpoliceIpPool" value="130.185.74.2" />
    <add key="GasIpPool" value="130.185.76.36" />
    <add key="RahvarIpPool" value="130.185.74.2,130.185.76.36,130.185.73.221,185.208.174.187,185.208.175.128,185.8.172.5,130.185.74.94" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding" />
        <binding name="CustomersSoap" maxReceivedMessageSize="20000000" />
      </basicHttpBinding>
      <mexHttpBinding>
        <binding name="MexBinding" />
      </mexHttpBinding>
      <webHttpBinding>
        <binding name="RestBinding" maxBufferSize="2000000" maxBufferPoolSize="20000000" maxReceivedMessageSize="2000000" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cust.meedc.ir:8877/AndroidServices/Customers.asmx" binding="basicHttpBinding" bindingConfiguration="CustomersSoap" contract="KhorasaneRazaviService.CustomersSoap" name="CustomersSoap" />
    </client>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WebCrawler.Core">
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="SoapBinding" name="Soap" contract="WebCrawler.ICore" />
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding" bindingConfiguration="RestBinding" name="Rest" contract="WebCrawler.ICore" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="MexBinding" name="Mex" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="WebCrawler.Job">
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="SoapBinding" name="Soap" contract="WebCrawler.IJob" />
        <endpoint address="" behaviorConfiguration="Web" binding="webHttpBinding" bindingConfiguration="RestBinding" name="Rest" contract="WebCrawler.IJob" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="MexBinding" name="Mex" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>

      <endpointBehaviors>
        <behavior name="Web">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="1000" />
    </connectionManagement>

   <!--<defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>-->
  </system.net>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="X-Requested-With,Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>